
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılacaklar</h4>
<br />
<p><del>#1 Başlıklarda Arama Kutucuğu</del></p>
<p><del>#2 Yazar Görselleri Düzenlenecek</del></p>
<p>#3 Grafikler Düzenlenecek</p>
<p><del>#4 Vitrin Teması Olacak</del></p>
<p><del>#5 Gelen Kutusunda Arama Eklenecek</del></p>
<p>#6 Yetkilendirmeler Yapılacak</p>
<p><del>#7 Hata Sayfası Layouttan Ayrılacak</del></p>
<p><del>#8 Sözlük ve Vitrin Ayrılacak</del></p>
<p>#9 Herhangi Bir Tablo Raporlanacak</p>
<p>#10 Proje Dosyaları Sunucuya Taşınacak</p>
<p>#11 Alan Adı Alınacak</p>
<p>#12 Proje Canlıya Taşınacak</p>

